@font-face{
    font-family: 'Chicken Pie';
    src:url(CHICKEN\ Pie.ttf).ttf)
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }


.footer{
    background-color:"#45ffe0";
    padding: 0;
    width: 100vw;
    margin:0px;
    position: sticky;
    left:0px;
    
  }
  
  

#homeText{
    font-family: 'Chicken Pie';
    color: white;
    top:200px;
    font-size:xxx-large;

}

#inputTabs.container {
    display: grid;
    padding: 50px;
}

#resturauntHolder{
    display: inline-block;
    inline-size: max-content;
    direction: rtl;
    width: 344px;
    height: 241px;      
    padding: 10px;
    margin: 250px;
}

#row2{
    display: inline-block;
    position: relative;
    left: 145px;
    top: -79px;
}

#box{
    position: relative;

    left: 175px;
    line-break: anywhere;
}

#searchBar{

}



/*Filters*/
#filterBtns{
    width: 200px;
    flex-flow: row-reverse;
    display: inline-flex;
    justify-content: space-evenly;
}

#cardBox{
    
    height: 360px;
    width:360p
}

#foodFilter{
    top: 5px;
}


#priceFilter{
    width: -webkit-max-content;
}

.nav-item{
    color: white;
}


/*Sections*/


#section-1{
    background-color: #18b1d8;
    background-size: 100%;
    width: 100vw;
    left: -50px;
    height:100%;
}



#section-2{
background-image: url("https://www.olympus-tours.com/blog/assetsBlog/2016/10/mexican-food2.jpg");
background-attachment: fixed;
width: 1240px;
left: -50px;
width: 100vw;
height: 100%;
}